.about-me {
  display: inline-block;
  white-space: pre-wrap;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  opacity: 0.85;
  max-width: 800px;
  line-height: 1.6;
}

.about-me h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.about-me p {
  margin-bottom: 1rem;
}