.about-me {
  display: inline-block;
  white-space: pre-wrap;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  max-width: 800px;
  width: 90%;
  line-height: 1.6;
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 1rem;
  border-radius: 0.75rem;
}

@media (min-width: 768px) {
  .about-me {
    font-size: 1.2rem;
    padding: 2rem;
    width: auto;
  }
}

.about-me h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

@media (min-width: 768px) {
  .about-me h2 {
    font-size: 2rem;
  }
}

.about-me p {
  margin-bottom: 1rem;
}