.text-type {
  display: inline-block;
  white-space: pre-wrap;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.text-type-description {
  display: inline-block;
  white-space: pre-wrap;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  opacity: 0.9;
  max-width: 800px;
}