.home-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.text-type-description {
  display: inline-block;
  white-space: pre-wrap;
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  max-width: 800px;
}