.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .skills-container {
    padding: 0 2rem;
  }
}

.skills-h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .skills-h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.75rem;
  gap: 0.75rem;
  max-width: 1000px;
  width: 100%;
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
}

@media (min-width: 480px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
    border-radius: 2rem;
  }
}

.skills-background {
  border-radius: 0.5rem;
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.dark .skills-background {
  background: rgba(17, 17, 17, 0.6);
}

.skill-card-content {
  display: flex;
  user-select: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  min-height: 120px;
  outline-offset: -1px;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .skill-card-content {
    gap: 1rem;
    padding: 2rem;
    min-height: 150px;
  }
}

.skill-title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 768px) {
  .skill-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.skill-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: white;
}

@media (min-width: 768px) {
  .skill-description {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
