.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  padding:0.5rem;
  gap: 1rem;
  max-width: 1000px;
  width: 100%;
}

@media (min-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.skills-background {
  border-radius: 0.5rem;
  background-color: rgb(244 244 245);
}

.dark .skills-background {
  background-color: rgb(39 39 42);
}

.skill-card-content {
  display: flex;
  user-select: none;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem;
  min-height: 150px;
}

.skill-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: white;
}

.skill-description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: white;
}
